<div class="column one-third">
    <div class="simpleCart_shelfItem">
        <a href="/directory/{{ item[5] }}" >
            <img src="/{{ item[2] }}" class="item_thumb"/>
        </a>
        <div class="row">
            <h5 class="item_name">{{ item[1] }}</h5>
            <div class="simpleStore_getDetail_container">
                <span class="item_price">{{ item[4] }}</span>
            </div>
            <div class="simpleStore_getDetail_container">
                <a href="/details/{{ item[0] }}" class="button u-pull-right simpleStore_getDetail">Details</a>
            </div>
        </div>
    </div>
</div>
